global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alert_rules.yml

scrape_configs:
  - job_name: 'lcl-telemetry-client'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'host.docker.internal:9464'
